.content {
    max-width: 500px;
    margin: auto;
    border: black solid 2px;
    padding: 10px;
    margin-top: 50px;
  }
 #form-create {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
 }

 .errorMsg{
    color:red;
    font-size: 10px;
 }